 <style>
.content {
  list-style: none;
  padding:0;
  margin:0;
  }
  .content img {
    width: 100%;
    height: 101%; }
  .content li {
    float: left;
    width: 33.2%;
    height: 220px;
    margin-bottom:90px;
    position: relative;
    /* Colors Hover */
    }
    .content li:hover {
      cursor: pointer; }
      .content li:hover .card-front {
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform: perspective(1000) rotateX(90deg);
        -moz-transform: perspective(1000) rotateX(90deg);
        -ms-transform: perspective(1000) rotateX(90deg);
        -o-transform: perspective(1000) rotateX(90deg);
        transform: perspective(1000) rotateX(90deg); }
      .content li:hover .card-back {
        z-index: 950;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform: perspective(1000) rotateX(0deg);
        -moz-transform: perspective(1000) rotateX(0deg);
        -ms-transform: perspective(1000) rotateX(0deg);
        -o-transform: perspective(1000) rotateX(0deg);
        transform: perspective(1000) rotateX(0deg); }
    .content .card-back {
      background: #fff;
      }
  .content .card-front,
  .content .card-back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 400ms;
    -moz-transition: -moz-transform 400ms;
    -o-transition: -o-transform 400ms;
    transition: transform 400ms;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%; }
  .content .card-front {
    -webkit-transform: perspective(1000) rotateX(0);
    -moz-transform: perspective(1000) rotateX(0);
    -ms-transform: perspective(1000) rotateX(0);
    -o-transform: perspective(1000) rotateX(0);
    transform: perspective(1000) rotateX(0);
    z-index: 900; }
  .content .card-back {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    z-index: 1800; }
  .content h2 {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-right: 0px;
    margin-top: 20px; }
    .content h2 b {
      padding: 10px;
      }
  .content p {
    line-height: 1.3em;
    color: #3d3d3d;
    width: 100%;
    padding: 10px; }

.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  color: #111;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px; }

.activebox {
  width: 100% !important;
  height: 100% !important; }
  .activebox .all-content {
    position: relative;
    top: 20px; }
    .activebox .all-content h1 {
      font-size: 80px;
      width: 50%; }
  .all-content {
  display:none;
  }
@media (min-width: 440px) and (max-width: 750px) {
  .content h2 {
    font-size: 22px; }
  .content p {
    font-size: 13px; }
  .content li {
    width: 100%; } }
@media (max-width: 439px) {
  .content h2 {
    font-size: 15px; }
  .content p {
    font-size: 13px; }
  .content li {
    width: 100%; } }
@media (max-height: 450px) {
  .content h2 {
    font-size: 22px; }
    .content h2 b {
      width: 100%; }
  .content p {
    display:none; }
  .content li {
    width: 100%; } }
#canvasSample {
position:absolute;
width:100%;
}
  </style>
<div id="foo"></div>
<!-- Modal -->
<canvas id="canvasSample"></canvas>
<div class="container-fluid container-app">
  <div class="row-container">
   <div class="col-xs-1 col-md-3 col-lg-4"></div>
   <div class="col-xs-10 col-md-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>aguamala</h4></div>
        <div id="freebasePanelBody" class="panel-body">
          <form name="freebaseForm" id="freebaseForm" role="form" ng-submit="freebase($event)" ng-include="'/partials/includes/freebase_form.html'"></form>
        </div>
        <ul id="freebase" class="list-group media-list">
        </ul>
   </div>
<ul class="row-container content">
	<li>
		<div class="card-front">
			<h2><b>Bitches Brew †††</b></h2>
			<p>How do u even know that u aren't currently a sleeping three year old and that this isn't the three year old's dream</p>
		</div>
		<div class="card-back">
			<h2><b>Click here</b></h2>
		</div>

		<!-- Content -->
		<div class="all-content">
			<h2>Say something, pray for something</h2>
			<img src="https://pbs.twimg.com/media/BjNLt2kIcAAq5Mp.png"></img>
		</div>
	</li>
	<li>
		<div class="card-front">
			<h2><b>Complex potato</b></h2>
			<p>There's this.</p>
		</div>
		<div class="card-back">
			<h2><b>Try this</b></h2>
		</div>

		<!-- Content -->
		<div class="all-content">
			<h2>Complex potato</h2>
			<img src="https://pbs.twimg.com/media/Bi-LHADIgAAwF6B.jpg"></img>
		</div>
	</li>
	<li>
		<div class="card-front">
			<h2><b>Is this?</b></h2>
			<p>⠀⠀⠀⠀⠀⠀⠀⠀⠀ (⌒⌒⌒⌒)
           ⠀(⌒⌒⌒⌒)⠀⠀￣￣￣￣
          ⠀⠀￣￣￣￣
          ⠀
          ⠀⠀⠀⠀⠀⠀╱╲
          ⠀⠀⠀⠀╱⠀⠀⠀⠀╲
          ╱⌒╲⠀⠀⠀⠀⠀⠀╱⌒╲
          ⠀⠀⠀⠀⠀⠀⠀⠀╱￣￣￣╲╲
          🌻🏡___🏠🌼🌻__🏡🏡_
          ￣￣￣￣￣￣￣￣￣￣￣￣</p>
		</div>
		<div class="card-back">
      <h2><b>Click me</b></h2>
		</div>
		<!-- Content -->
		<div class="all-content">
			<h2>ok?</h2>
			<img src="https://pbs.twimg.com/media/Bi9nodQIIAAyTOK.jpg"></img>
		</div>
	</li>
	<li>
		<div class="card-front">
			<h2><b>Contrary to popular belief</b></h2>
			<p>2+2=5.</p>
		</div>
		<div class="card-back">
			<h2><b>Click this</b></h2>
		</div>

		<!-- Content -->
		<div class="all-content">
			<h2>Contrary to popular belief</h2>
			<img src="https://pbs.twimg.com/media/Bi9bBgwIcAEmJ91.jpg"></img>
		</div>
	</li>
	<li>
		<div class="card-front">
			<h2><b>It's a beautiful decay</b></h2>
			<p>ruby's dark secret: it's just perl with slightly less punctuation. nobody realizes this because nobody using ruby actually knows perl.</p>
		</div>
		<div class="card-back">
			<h2><b>Click here</b></h2>
		</div>

		<!-- Content -->
		<div class="all-content">
			<h2>It's a beautiful decay</h2>
			<img src="https://pbs.twimg.com/media/Bi843FtCAAAuH50.jpg"></img>
		</div>
	</li>
</ul>
</div>
  </div>
</div>