<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalDialogLabel">Eroor runaway runaway!</h4>
      </div>
      <div class="modal-body" id="modalDialogBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-app">
  <div class="row">
   <div class="col-xs-1 col-md-3 col-lg-4"></div>
   <div class="col-xs-10 col-md-6 col-lg-4">
    <h3>Inscríbete</h3>
    <form name="signupForm" id="signupForm" role="form" ng-submit="signUp($event)" ng-include="'/partials/includes/signup_form.html'"></form>
   </div>
  </div>
</div>