<style>
body {
  background-image: url('../images/page/carbon.jpg');
  background-size:cover;
  background-attachment:fixed;
  width:100%;
  height:100%;
} 
.hex {
    width: 20em;
    height: 10em;
    background: rgba(255,255,255,.69);
    position: relative;
}
.hex:before {
    content:"";
    left:0;
    border-left: 10em solid transparent;
    border-right: 10em solid transparent;
    position: absolute;
}
.hex:after {
    content:"";
    left:0;
    border-left: 10em solid transparent;
    border-right: 10em solid transparent;
    position: absolute;
}
.hex:before {
    top: -5em;
    border-bottom: 5em solid rgba(255,255,255,.69);
}
.hex:after {
    bottom: -5em;
    border-top: 5em solid rgba(255,255,255,.69);
}
</style>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div class="nav-wrap">
    	<div class="nav-up">
    		<!--<a id="logo" href="/" title="Inicio">Inicio</a>-->
    	</div>
    </div>      
    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a id="logo" class="pure-menu-heading" href="/"></a>

            <ul id="menuList">
              <!--class="pure-menu-selected menu-item-divided"
                  class="menu-item-divided"-->
            </ul>
        </div>
    </div>

    <div id="main">
     <div id="container"></div>
    </div>

	
</div>	