<style>
body {
  background-image: url('../images/sumito/bg.jpg');
  background-size:cover;
  background-attachment:fixed;
  width:100%;
  height:100%;
}
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
            color:#fff;
            cursor:pointer;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #333;
        color:#fff;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

</style>
<div id="layout">
    <!-- Menu toggle -->
    <a id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a id="logo" class="pure-menu-heading"></a>

            <ul id="menuList">
              <!--class="pure-menu-selected menu-item-divided"
                  class="menu-item-divided"-->
            </ul>
        </div>
    </div>

    <div id="main">
     <div id="container"></div>
    </div>

	
</div>