body {
  background: #f0f0f0;
  background-size:cover;
  background-attachment:fixed;
  width:100%;
  height:100%;
  overflow-x:hidden;
}
#twtfeed ul{
width:400px;
margin:0;
padding:0;
}
#twtfeed ul li {
margin:0;
}
.container-app {
  margin-top:7em;
  margin-bottom:6em;
}
.active {
border-bottom:3px solid #00ffff;
}
.navbar-default .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
border-bottom:3px solid #00ffff;
}
#app{
-moz-transition: all 1s; 
-webkit-transition: all 1s;  
-ms-transition: all 1s;  
-o-transition: all 1s;  
transition: all 1s; 
    
  
}
#loadCont {
    position:fixed;
  width:100%;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1030;
  background-color: rgba(255,255,255,0.35);
  -moz-transition: all 1s; 
-webkit-transition: all 1s;  
-ms-transition: all 1s;  
-o-transition: all 1s;  
transition: all 1s; 
}
#load {
    background: url('../../images/aguamala/aguamala-72.png') center no-repeat;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
  width:100%;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;    
    position:fixed;
    z-index:1050;
}
#foo{
border-radius:50px;
width:50px;
height:50px;
background:rgba(0,255,255,0.65);
position:absolute;
top:20em;
left:10em;
z-index:900;
-moz-transition: all 1s; 
-webkit-transition: all 1s;  
-ms-transition: all 1s;  
-o-transition: all 1s;  
transition: all 1s;  
}
.panel {
z-index:1020;
position:relative;
background-color:rgba(255,255,255,0.65);
}
.navbar-default {
background-color:rgba(255,255,255,0.85);
}


#menu_list, #menu_right, #menu_list li, #menu_list li a {

-moz-transition: all 1s; 
-webkit-transition: all 1s;  
-ms-transition: all 1s;  
-o-transition: all 1s;  
transition: all 1s;
}
#menu_list li a:hover, #menu_list li:hover  {
cursor:pointer;
}
#logoapp {
    text-indent: -9999px;
    display: inline-block;
    height: 50px;
    width: 85px;
    background: url('../../images/aguamala/aguamala-48.png') center no-repeat !important;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}
#logoapp:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    cursor:pointer;
} 
@media (max-width: 780px) {
#twtfeed ul{
width:100%;
margin:0;
padding:0;
}
}