      .h20 {
      cursor: default;
      transition:  all 1s;
      webkit-transition: all 1s;
      moz-transition: all 1s;
      o-transition: all 1s;
      }
			.h2o:hover {
        
				cursor:pointer;
				
			}      
			.element {
				width: 380px;
				height: 350px;
				border: 5px solid rgba(127,255,255,0.25);
				text-align: center;
				cursor: default;
			}

			.element:hover {
				box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
				border: 13px solid #00ffff;
				cursor:pointer;
			}

				.element .number {
					position: absolute;
					top: 20px;
					right: 20px;
					font-size: 12px;
					color: #fff;
				}

				.element .symbol {
					position: absolute;
					top: 40px;
					left: 0px;
					right: 0px;
					font-size: 40px;
					font-weight: bold;
					color: #fff;
				}

				.element .details {
					position: absolute;
					text-align: center;
					bottom: 45px;
					left: 0px;
					right: 0px;
					font-size: 35px;
					color: #fff;
				}

			.button {
				color: #fff;
				background: transparent;
				outline: 1px solid rgba(127,255,255,0.75);
				border: 0px;
				padding: 5px 10px;
				cursor: pointer;
			}
			.button:hover {
				background-color: rgba(0,255,255,0.5);
			}
			.button:active {
				color: #fff;
				background-color: rgba(0,255,255,0.75);
			}
			
.input, #counter {
    color: #000;
    background: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.input {
    width: 80%;
    box-sizing: border-box;
    margin-left: 161px;
    padding: 0 100px 0 0;
    border: none;
    outline: none;
    height: 50px;
    line-height: 1;
    resize: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

#counter {
    padding-top: 10px;
    padding-right: 10px;
    float:right;
}

input::-webkit-input-placeholder {
    color: #000;
}

.input:focus { color: #000; }

.chats {
	  float:left;
    position: relative;
    width: 100%;
    overflow-y:scroll;
    height:100%;
    padding: 0;
}
.chats.lean {
    padding-bottom: 0px;
}
.chats ul {
  margin-top: 75px; 
}
.chats li {
    background-color: #f2f2f2;
    
    clear: both;
    float: left;
    min-height: 92px;
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: pre-wrap;
}

.chats li:first-of-type {
    padding-top: 18px;
}

.chats li:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #666;
    content: "";
    bottom: 0;
    left: 141px;
}

.chats li img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height:90px;
}

.chats li:first-of-type img {
  top: 18px;
}

.chats .out-of-view img {
    display: none;
}

.chats li p {
    color: #000;
    font-size: 1.35rem;
    line-height: 1.5rem;
    min-width: 182px;
    overflow: hidden;
    padding: 14px 56px 18px 141px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chats li .mute {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f181ad;
    border: 0;
    color: #fff;
    display: none;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    padding: 8px 18px 9px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.chats li:hover .mute {
    display: block;
}

.chats li .mute:hover {
    background-color: #e22661;
    color: #eee;
}

.chats li .timestamp {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border: 0;
    color: #666;
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
}

.chats li:first-of-type .timestamp {
    top: 18px;
}

.chats li p span {
    color: #70b4e4;
    font-size: 0.8rem;
}

.chats li em {
    font-style: italic;
}

.chats li b {
    font-weight: 500;
}

.chats li p a {
    color: #34a4b8;
    text-decoration: none;
}

.chats li p a:hover {
    background-color: #f0f0f0;
}

ul li.on {
    background-color: #adf6ff;
}

.hidden {
    display: none;
}

  .video-wrapper {
    margin: 0;
    position: absolute;
    bottom:0;
    left:0;
    width: 120px;
    z-index:10;
}
  .form-wrapper {
    height: 50px;
    margin: 0;
    position: absolute;
    bottom:0;
    right:0;
    width: 100%;
}
  .actions-wrapper {
    height: 80px;
    margin: 0;
    position: absolute;
    bottom:0;
    right:0;
    width: 200px;
}
.video-recorded {
    border: 2px solid #2ae7ce;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 85px;
    z-index: 6;
}

svg.progress {
    z-index: 6;
    opacity: 0;
    width: 95px;
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 0;
}

svg.progress.visible {
    opacity: 1;
}

.new-message {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}


.new-message .submit {
    padding: 5px 20px;
}
.form-wrapper {
 background-color:#f2f2f2;
}

#add-chat-blocker {
    color: #000;
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    padding: 10px 18px 14px 171px;
    height: 27px;
    margin: 0;
    border: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
}

#footer {
    font-family: Arial;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 51px;
    padding: 0;
    background-color: #f181ad;
}

#footer video {
    position: absolute;
    width: 135px;
    height: 101px;
    bottom: 0;
    left: 18px;
    z-index: 10;
    border: 5px solid #000;
}

#footer svg.progress {
    z-index: 99;
    opacity: 0;
    width: 135px;
    height: 101px;
    position: absolute;
    bottom: 0;
    left: 18px;
}

#footer svg.progress.visible {
    opacity: 1;
}

.end {
    float: left;
    height: 100px;
    position: relative;
    width: 1px;
}

@media only screen and (max-width: 1150px) {
    .input {
        width: 75%;
    }
}

@media only screen and (max-width: 945px) {
    .input {
        width: 70%;
    }
}

@media only screen and (max-width: 785px) {
    .input {
        width: 65%;
    }
}

@media only screen and (max-width: 655px) {
    .input {
        width: 60%;
    }
}

@media only screen and (max-width: 568px) {
    #logo:hover {
      text-indent: -9999px;
    }

    .chats li:after {
        left: 153px;
    }

    .chats li p {
        font-size: 1.1rem;
        line-height: 1.4rem;
        padding-right: 8px;
        padding-left: 153px;
        padding-top: 8px;
        min-width: 0;
        width: auto;
        float: none;
    }

    .chats li .mute {
        display: block;
        bottom: 0;
        margin-bottom: 0;
        padding: 5px 5px 5px 7px;
        font-size: .7rem;
        color: #f181ad;
        background: none;
    }

    .chats li img,
    #footer video,
    #footer svg.progress {
        left: 0;
    }

    .input {
        left: -18px;
        width: 50%;
    }

    #add-chat-blocker {
        left: -18px;
    }

}

@media only screen and (max-width: 460px) {
    #counter {
        display: none;
    }

    .input {
        width: 205px;
        padding-right: 0px;
        font-size: .85rem;
    }
}

@media only screen and (max-width: 320px) {
    .infobox-wrapper {
        padding: 5px;
    }

    .chats li p {
        font-size: .85rem;
        line-height: 1rem;
        min-width: 0;
        width: auto;
        float: none;
        padding-right: 12px;
        padding-bottom: 20px;
    }

    .input {
        width: 145px;
    }
}			